/* General Styles */
body {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
  
}

/* Main Container */
.inicio-container {
  background: linear-gradient(to bottom, #f9f9f9, #deb4d7);
  color: #000000;
  padding: 20px;
  height: 75vh;
  
}

/* Header */
.inicio-header {
  text-align: center;
  margin-bottom: 30px;
}

.inicio-header h1 {
  color: #DF1882;
  font-size: 2.5rem;
  margin-bottom: 15px;
  line-height: 1.2;
}

.inicio-header p {
  font-size: 1.1rem;
  color: #555555;
 
}


/* Sections Grid */
.inicio-sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cambiado a exactamente 4 columnas */
  gap: 20px;
}

/* Section Cards */
.section-card {
  background: #fdfdfd;
  color: #333;
  border: 1px solid #e0e0e0;
  height: 175px;
  border-radius: 12px;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.section-card i {
  font-size: 2rem;
  color: #DF1882;
 
}

.section-card h2 {
  color: #DF1882;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.section-card p {
  font-size: 1rem;
  color: #555555;
}

/* Responsive Design */
@media (max-width: 768px) {
  .inicio-sections {
    grid-template-columns: 1fr;
  }
}
