* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 
}

.menuEmpleadospagina{
  display:flex;
  width:100%;
  justify-content: space-around;
  
}
.menuEmpleados-itempagina{
  justify-content: center;  
  align-items: center;
  text-align: center;
  width: 15%;
  border-bottom: 2px solid grey;
  font-size: 1.1rem;
  
}
.menuEmpleados-itempagina:hover{
  font-weight: bold;
}

.inputBuscar{
  display: flex;
  width: 40% !important;
  height: 25px;
  align-items: center;
  justify-content: center;

}
.containerInput{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    margin-top: 30px;
  }

  .no-results{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
  }

@media (max-width: 988px){
  
    .inputBuscar{
      width: 100% !important;
    }
  
    
  .containerInput{
    padding-bottom: 15px;
  }
  
  }

  