* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    
    
}
.menu-infoImportanteClientes{
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content:space-around ;
    align-items: center;
    
}
.informacion-lateralMenuClientes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.proyectos{
    background-color: #FFF;
    border: 2px solid #DF1882;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.ordenar{
    width: 30%;
    color: red;

}
/* main content ajustes.css */
.informacion-lateralMenuClientes {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.colocarInfoLateral{
    text-align: center;
}



.imgClientes{
    width: 100%;
    height: auto;
    max-height: 120px;
    object-fit: cover;
   
}
.colocar{
    display: flex;
    margin-top: 70px;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.informacionExtraClientes{
    display: flex;
    margin-top: 70px;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

/* Styling for individual items in notigen/comunicadosgen */
.tarjetaCliente {
    background-color: #FFF;
    border: 2px solid #DF1882;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.tarjetaCliente:hover,.proyectos:hover {
    cursor: pointer;
    background-color: #FBE4F0;
    
}