* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
   
}


.Noticias{
    width: 100%;
}
/* Main container for the content */
.contenedorNoticias {
    display: flex;
    flex-wrap: wrap; /* Para que los elementos se ajusten automáticamente en varias filas si es necesario */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    padding: 20px;
    width: 100%;
}

/* Styling for individual news cards */
.noticiaCard {
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  width: 350px; /* Ancho fijo para las tarjetas */
  background-color: #ffffff;
  border: 2px solid #DF1882;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  overflow: hidden; /* Oculta cualquier contenido que desborde */
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

/* Hover effect for news cards */
.noticiaCard:hover {
    background-color: #FBE4F0;
    transform: scale(1.05);
}

/* Styling for the "Ver más" link */
.ver-mas {
    color: #DF1882;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

/* Styling for the return button */
.volver {
    text-align: center;
    margin-top: 20px;
}

.btn-volver {
    background-color: #DF1882;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn-volver:hover {
    background-color: #BF126E;
}

.btn-volver a {
    text-decoration: none;
    color: white;
}

/* Image styling */
.imgNoticiasComunicados {
    max-width: 300px;
    max-height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    .contenedor-noticias {
        flex-direction: column;
        align-items: center;
    }
    .noticiaCard {
        width: 300px;
    }
}


